@import "../../styles/variables";
.nav {
  position: absolute;
  top: 50%;
  left: 60px;
  width: 12px;
  color: #b2b1b1;
  font-size: 16px;
  word-break: break-all;
  z-index: 99;
  transform: translateY(-50%);
  > span {
    display: inline-block;
    height: 50px;
    &.active {
      color: $brand-info;
    }
  }
}