$pink-5: #f7629e;
$pink-6: #f5317f;

$brand-info: #009cdd;
$border-color: #dfdfdf;

$tel-color: #d6d6d6;
$gray: #666;
$darkgray: #383838; // 标题颜色
$page-title-font-size: 36px;
$page-title-color: $darkgray;