@import "../../../styles/variables";

.page-01 {
  text-align: left;
  padding-top: 24px;
  background: url(../../../images/page_01.png) no-repeat;
  .logo-header {
    display: inline-block;
    width: 135px;
    height: 44px;
    margin-left: 200px;
    background: url(../../../images/img_logo_hd.png) no-repeat;
  }

  .tel {
    float: right;
    margin-right: 200px;
    margin-top: 16px;
    font-size: 12px;
    color: $tel-color;
  }
  .icon-tel {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 30px;
    vertical-align: middle;
    background: url(../../../images/icon_telphone.png) no-repeat;
  }
}