@import "../../../styles/variables";

.page-01 {
  text-align: left;
  padding-top: 24px;
  background: url('#{$imgDir}page01/page_01_bg.png') no-repeat;
  .page-01-header {
    overflow: hidden; // 清除浮动
  }
  .header-logo {
    float: left;
    width: 135px;
    height: 44px;
    margin-left: 200px;
  }

  .header-nav {
    display: inline-block;
    padding-top: 10px;
    font-size: 16px;
    list-style: none;
    > a {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      letter-spacing: 2px;

      &.active {
        padding-bottom: 4px;
        border-bottom: 2px solid $brand-info;
      }
    }

    > a + a {
      margin-left: 32px;
    }
  }

  .tel {
    float: right;
    margin-right: 200px;
    margin-top: 16px;
    font-size: 16px;
    color: $tel-color;
  }
  .icon-tel {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 30px;
    vertical-align: middle;
    background: url('#{$imgDir}page01/icon_telphone.png') no-repeat;
  }

  .main {
    width: 100%;
    height: calc(100% - 42px);
    display: table;
    .img-container {
      display: table-cell;
      vertical-align: middle;
      > img {
        vertical-align: middle;
      }
    }
  }
}