@import "../styles/variables";

body,
p,
h1,
h2,
h3,
h4,
h5,
ul,
dl, dt, dd {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,sans-serif;
}

.fullpage-header {
  padding-top: 40px;
  font-size: 16px;
  text-align: center;

  > a {
    padding: 4px 0;
    color: $tel-color;
    text-decoration: none;

    &.active {
      border-bottom: 3px solid $brand-info;
    }
  }
  > a + a {
    margin-left: 24px;
  }
}

.page-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 1200px;
  background-position: center;
  -webkit-background-size: cover; //webkit核心
  background-size: cover;
  text-align: center;
}

.page-title {
  margin-bottom: 40px;
  padding-top: 60px;
  color: $page-title-color;
  font-size: $page-title-font-size;
}