@import "../../../styles/variables";
$darkblue: #0998d3;
$blue: #009cdd;
$lightblue: #189ff5;
$darkgreen: #00c4d6;
$green: #00ddc0;
$lightgreen: #08c3b8;
$tag-cloud-height: 450px;
$footer-height: 152px;

.page-02 {
  background: url('#{$imgDir}page02/page_02_bg.png') no-repeat;
  .main {
    padding-top: calc((50% - #{$footer-height} / 2 - #{$tag-cloud-height}) / 2); // 168px / 2 = 84px
  }
  //background: url(../../../images/page_02.png) no-repeat;
  background-color: #dfdfdf;
  .page-02-footer {
    position: absolute;
    width: 100%;
    bottom: 60px;
    color: $gray;
    font-size: 20px;
    text-align: center;
    > p {
      margin-bottom: 16px;
      text-align: center;
    }
  }
}
