@import "../../../styles/variables";
$darkblue: #0998d3;
$blue: #009cdd;
$lightblue: #189ff5;
$darkgreen: #00c4d6;
$green: #00ddc0;
$lightgreen: #08c3b8;



.page-02 {
  background: url(../../../images/page_02_bg.png) no-repeat;
  .main {
    padding-top: 20px;
  }
  //background: url(../../../images/page_02.png) no-repeat;
  background-color: #dfdfdf;
  .page-02-footer {
    position: absolute;
    width: 100%;
    bottom: 60px;
    color: $gray;
    font-size: 20px;
    text-align: center;
    > p {
      margin-bottom: 24px;
      text-align: center;
    }
  }
}
