.page-06 {
  .main {
    position: relative;
    height: calc(100% - 240px);
  }
}

.page-06-footer {
  height: 200px;
  padding-top: 40px;
  background-color: #09132c;
  color: #fff;

  .logo-footer {
    display: inline-block;
    width: 135px;
    height: 44px;
    margin-right: 120px;
    background: url(../../../images/img_logo_ft.png) no-repeat;
  }
  .site-link {
    display: inline-block;
    min-width: 200px;
    margin: auto;
    text-align: left;
    vertical-align: top;
    > dt {
      margin-bottom: 24px;
      font-size: 14px;
      color: #e1e1e3;
    }
    > dd {
      margin: 7px 0;
      font-size: 12px;
      color: #acabb1;
    }
  }
}
// === 合作伙伴样式
.partners {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  .partners-item {
    display: inline-block;
    width: 240px;
    height: 80px;
    &:nth-child(n+1) {
      margin-left: 70px;
    }
  }
  .partners-js {
    background: url(../../../images/partner_js.png) no-repeat;
  }
  .partners-nh {
    background: url(../../../images/partner_nh.png) no-repeat;
  }
  .partners-zx {
    background: url(../../../images/partner_zx.png) no-repeat;
  }
  .partners-tpy {
    background: url(../../../images/partner_tpy.png) no-repeat;
  }
}

.back-to-top {
  position: absolute;
  right: 30px;
  bottom: 60px;
  width: 66px;
  height: 66px;
  background: url(../../../images/back_to_top.png) no-repeat;
}